app:
  integration:
    finance-service-rest-base: http://localhost:8080
    repeated-payment-service-config-rest-base: http://localhost:8082/repeatedPayment

server:
  address: 0.0.0.0
  port: 8084
  servlet:
    context-path: /
spring:
  application:
    name: finance-scheduled-service
  devtools:
    add-properties: false
  jackson:
    serialization:
      write-date-keys-as-timestamps: false
  main:
    allow-bean-definition-overriding: true

logging:
  level:
    root: info